h1 {
    color: #3B6A8A;
    font-weight: 550px;
    line-height: 100px;
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
}

h2, h3, h4 {
    color: #1A4664;
    font-family: 'Open Sans', sans-serif;
}

table thead {
	color: #1A4664;
}

.control-label {
	color: #1A4664;
}

.my-drop-zone {
	border: dotted 3px lightgray;
}

.nv-file-over {
	border: dotted 3px red;
} /* Default class applied to drop zones on over */

.another-file-over-class {
	border: dotted 3px green;
}

html, body {
	height: 100%;
}

.table-responsive {
    overflow-x: auto;
}
.excel{
    font-size: 10px;
}