<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Sparqler</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
	<div>
	<h4>Predefined queries: <span>
		<button class="btn btn-xs btn-primary" data-ng-click="DBList.getAll()">Get
			all</button>
		<button class="btn btn-xs btn-primary"
			data-ng-click="DBList.countAll()">Count all</button>
	</span>
	</div>
	<br>
	<div>
		<form class="form-horizontal well" name="sparqler">
			<h4>Select prefix</h4>
			<div>
				<div class="btn-group">
					<button type="button"
						ng-class="{'true':'btn btn-sm btn-warning','false':'btn btn-sm btn-default'}[ns.checked]"
						ng-click="ns.checked = !ns.checked" data-ng-repeat="ns in DBList.modelContainer">{{ns.item.prefix}}</button>
				</div>
				<button type="button"
						class="btn btn-sm btn-primary"
						ng-click="DBList.addAllPrefix()" ng-show="DBList.modelContainer.length != 0">Add all</button>
						<a href="/app/namespaces.html"><button type="button"
						class="btn btn-sm btn-primary">Add new</button></a>
			</div>
			<hr>
			<div
				data-ng-repeat="ns in DBList.modelContainer| filter:{checked:true}">
				<samp>PREFIX {{ns.item.prefix}}: &lt;{{ns.item.namespace}}&gt;</samp></div>
                        <div class="checkbox pull-right">
                            <label><input type="checkbox" value="" data-ng-model="$parent.inference">Inference</label>
                        </div>
			<div class="form-group">
			<textarea class="form-control input-xlarge"
				placeholder="Write your SPARQL query here"
				data-ng-model="$parent.formSPARQL" rows="16" cols="60"></textarea>
				</div>
			<div class="form-actions">
				<button class="btn btn-primary" data-ng-click="DBList.getData()">Get
					data</button>
			</div>
		</form>
		<h2 class="sub-header" data-ng-show="DBList.queryResults.length != 0">Query
			results:</h2>
		<div class="table-responsive" data-ng-show="DBList.queryResults.length != 0">
			<table class="table table-striped"
				>
				<thead>
					<tr>
						<th data-ng-repeat="(key, val) in DBList.queryResults[0]">
							{{key}}</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="result in DBList.queryResults">
						<td data-ng-repeat="obj in result"
							data-ng-switch="obj.type == 'uri'"><a
							data-ng-href="{{obj.value}}" target="_self"
							data-ng-switch-when="true">{{obj.value}}</a> <span
							data-ng-switch-when="false">{{obj.value}}</span></td>
					</tr>
				</tbody>
			</table>
                    <a data-ng-href="{{sparqlRequest}}" target="_blank" class="pull-right">As JSON</a>
		</div>
	</div>

</div>
<!-- /.row -->