<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Manage triples</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">

	<form class="form-horizontal" role="form" name="manageTriples">
		<div class="form-group">
			<label for="inputType" class="col-md-2 control-label">Subject</label>
			<div class="col-sm-10">
				<input type="url" class="form-control" placeholder="Subject"
					data-ng-model="$parent.formSubject" required>
			</div>
		</div>
		<div class="form-group">
			<label for="inputType" class="col-md-2 control-label">Predicate</label>
			<div class="col-sm-10">
				<input type="url" class="form-control" placeholder="Predicate"
					data-ng-model="$parent.formPredicate" required>
			</div>
		</div>
		<div class="form-group">
			<label for="inputType" class="col-md-2 control-label">Object</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" placeholder="Object"
					data-ng-model="$parent.formObject" required>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-primary"
					data-ng-click="DBList.addTriple($parent.selectedDB)">
					<i class="fa fa-plus-square-o"></i> Add
				</button>
				<button class="btn btn-primary"
					data-ng-click="DBList.removeTriple($parent.selectedDB)">
					<i class="fa fa-trash-o"></i> Remove
				</button>
			</div>
		</div>
	</form>

	<div class="col-sm-offset-2 col-sm-10">
		<div class="alert alert-success" ng-show="$parent.showSuccessAlert">
			<button type="button" class="close"
				data-ng-click="$parent.showSuccessAlert = !$parent.showSuccessAlert">×</button>
			{{successTextAlert}}
		</div>
		<div class="alert alert-danger" ng-show="$parent.showErrorAlert">
			<button type="button" class="close"
				data-ng-click="$parent.showErrorAlert = !$parent.showErrorAlert">×</button>
			{{errorTextAlert}}
		</div>
	</div>


</div>
<!-- /.row -->