<!DOCTYPE html>
<html data-ng-app="scaleusApp">

<head>
<title>Scaleus</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<!-- <script src="https://code.angularjs.org/1.4.5/angular-resource.min.js "></script>  -->
<script src="scaleus.js"></script>
</head>

<body>
	<a href="sample.html">Go to sample</a>
	<div data-ng-controller="appController as DBList">
		<br>

		<div>
			<form name="removeDatabase">
				<select data-ng-click="DBList.getNamespaces()"
					data-ng-model="selectedDB"
					data-ng-options="opt for opt in DBList.dataset" required>
				</select>
				<button data-ng-click="DBList.removeDatabase()">Remove</button>
			</form>
			<br>
			<form name="addDatabase">
				<input type="text" placeholder="DB name"
					data-ng-model="formDatabase" required>
				<button data-ng-click="DBList.addDatabase()">Add Database</button>
			</form>
		</div>

		<br>

		<div data-ng-show="selectedDB">
			<div>
				<ul>
					<li data-ng-repeat="ns in DBList.modelContainer"><input
						type="checkbox" data-ng-model="ns.checked" /> <span>{{ns.item.prefix}}</span>
						<button data-ng-click="DBList.removeNamespace(ns.item.prefix)">Remove</button>
					</li>
				</ul>
				<br>
				<form name="putNamespace">
					<input type="text" placeholder="Prefix" data-ng-model="formPrefix"
						required> <input type="text" placeholder="Namespace"
						data-ng-model="formNamespace" required>
					<button data-ng-click="DBList.putNamespace()">Add
						Namespace</button>
				</form>
			</div>

			<br>
			<div>
				<div
					data-ng-repeat="ns in DBList.modelContainer | filter:{checked:true}">
					PREFIX {{ns.item.prefix}}: &lt;{{ns.item.namespace}}&gt;</div>
				<form name="sparqler">
					<textarea placeholder="Write your SPARQL query here"
						data-ng-model="formSPARQL" rows="16" cols="60" required>{{prefixQuery}}</textarea>
					<button data-ng-click="DBList.getData()">Get data</button>
				</form>
				<table data-ng-show="DBList.queryResults.length != 0">
					<caption>Query results</caption>
					<thead>
						<tr>
							<td data-ng-repeat="(key, val) in DBList.queryResults[0]"> {{key}} </td>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="result in DBList.queryResults">
							<td data-ng-repeat="obj in result">{{obj.value}}</td>
						</tr>
					</tbody>
				</table>
				<form name="manageTriples">
					<input type="text" placeholder="Subject"
						data-ng-model="formSubject" required> 
					<input type="text"
						placeholder="Predicate" data-ng-model="formPredicate" required>
					<input type="text" placeholder="Object" data-ng-model="formObject"
						required>
					<br>
					<button data-ng-click="DBList.addTriple()">Add triple</button>
					<button data-ng-click="DBList.removeTriple()">Remove triple</button>
				</form>
			</div>
			<br>
		</div>
	</div>
</body>

</html>