<!DOCTYPE html>
<html lang="en" data-ng-app="scaleusApp">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Scaleus - High performance triple store</title>

<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="/css/metisMenu.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/css/sb-admin-2.css" rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body data-ng-controller="queriesController as DBList">

	<div id="wrapper">


		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<a class="navbar-brand" href="/app/index.html">Scaleus</a>
			</div>
			<!-- /.navbar-header -->

		</nav>

		<div id="page-wrapper">

			<!-- /.row -->
			<div class="row">

				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">Resources description</h1>
					</div>
					<!-- /.col-lg-12 -->
				</div>

				<a href='{{Resource.description.key}}'>{{Resource.description.key}}</a>

				<div class="table-responsive"
					data-ng-repeat="(res, obj) in Resource.description">
					<h3>
						<a href="{{res}}">{{res}}</a>
					</h3>
					<hr>
					<table class="table table-striped" data-ng-show="obj.length != 0">
						<thead>
							<tr>
								<th>Property</th>
								<th>Value</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="(key,val) in obj">
								<td><a href="{{key}}" target="_self">{{key}}</a></td>
								<td data-ng-repeat="(k,v) in val"
									data-ng-switch="v.type == 'uri'"><a
									data-ng-href="{{v.value}}" target="_self"
									data-ng-switch-when="true">{{v.value}}</a> <span
									data-ng-switch-when="false">{{v.value}}</span></td>
							</tr>
						</tbody>

					</table>
				</div>

			</div>
			<!-- /.row -->

			<footer>
				<p>&nbsp;</p>
				<p class="text-muted credit pull-right">
					&copy; <a target="_blank" title="UA.PT Bioinformatics"
						href="http://bioinformatics.ua.pt/">University of Aveiro</a>
					<script> document.write(new Date().getFullYear());</script>
					- Support provided by <a href="http://bmd-software.com"
						target="_blank">BMD Software, LDA</a>
				</p>
			</footer>

		</div>
		<!-- /#page-wrapper -->


	</div>
	<!--/#wrapper-->

	<!-- script references -->

	<!-- jQuery -->
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

	<!-- Angular JS -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>


	<!-- APP -->
	<script src="/js/app.js"></script>
	<script src="/js/scaleus.js"></script>
	<script src="/js/resource.js"></script>
	<script src="/js/services.js"></script>
	<script src="/js/directives.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/js/bootstrap.min.js"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script src="/js/metisMenu.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="/js/sb-admin-2.js"></script>
</body>
</html>