<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Data Preview <small><i>Disabled</i></small></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row" data-ng-controller="RDFDataCtrl">
    <div class="col-lg-12">
    <div>
        <form class="form-horizontal well" name="data">

            <div class="form-group">
                <textarea class="form-control input-xlarge" rows="26" cols="60" maxlength="3000" required>{{content}}</textarea>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary" data-ng-click="saveRDFData()" disabled>Save
                    data</button>
            </div>
        </form>
        
    </div>
 </div><!-- /.col-lg-12 -->
</div>
<!-- /.row -->