
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Manage namespaces</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row" ng-controller="NamespacesCtrl">
<div class="col-lg-12">
<form class="form-inline well" name="putNamespace">
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>PREFIX</th>
					<th>URI</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="ns in namespaces">
					<td>{{ns.prefix}}</td>
					<td>{{ns.uri}}</td>
					<td><button class="btn btn-sm btn-primary"
							data-ng-click="removeNamespace(ns.prefix)"
							ng-confirm-click="Are you sure you want to delete '{{ns.prefix}}'?">
							<i class="fa fa-trash-o"></i>  Remove  </button></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td>	<input type="text" class="form-control" placeholder="Prefix"
							data-ng-model="formPrefix" required></td>
					
					<td>	<input type="url" class="form-control" placeholder="Namespace"
							data-ng-model="formNamespace" required></td>
					
					<td>	<button class="btn btn-sm btn-primary"
						data-ng-click="addNamespace()"><i class="fa fa-plus-square-o"></i>  Add  </button></td>
				</tr>
			</tfoot>
		</table>
	</div>
</form>
 </div><!-- /.col-lg-12 -->
</div>
<!-- /.row -->